.layout {
    min-height: calc(100vh - var(--header-height));
    padding-top: calc(var(--header-height));
    background-color: var(--color-grey);
    .sidenav {
        position: fixed;
        max-width: var(--sidenav-width);
        padding-top: calc(var(--spacer) * 2);
    }
    .view {
        margin: var(--spacer);
        margin-left: var(--sidenav-width);
        margin-top: 0;
        padding-top: 18px;
        // padding-top: calc(var(--spacer) * 2);
        // main {
        //   //   border: 1px solid;
        //   //   padding: var(--spacer);
        // }
    }
}
