.layout {
  min-height: calc(100vh - var(--header-height) - (var(--spacer) * 2));
  padding-top: calc(var(--header-height) + (var(--spacer) * 2));
  background-color: var(--color-grey);
  .sidenav {
    position: fixed;
    max-width: var(--sidenav-width);
  }
  .view {
    margin: var(--spacer);
    margin-left: var(--sidenav-width);
    margin-top: 0;
    // main {
    //   //   border: 1px solid;
    //   //   padding: var(--spacer);
    // }
  }
}
