<div class="card" [style.--animation-delay]="index * 50 + 'ms'" *ngIf="item">
    <div class="header">
        <div
            class="header-image"
            [ngStyle]="{ 'background-image': getImage(item?.thumbnailUrl) }"
        ></div>
        <div class="header-info">
            <span class="title">{{ item.title }}</span>
            <span class="author">{{ item.author }}</span>
            <span class="date">{{ item.releaseDate | date }}</span>
        </div>
    </div>
    <div class="actions">
        <div class="action-left">
            <div class="action" (click)="goToEdit(item.id)">Edit</div>
        </div>
        <div class="action-right">
            <div class="action" (click)="deleteBook(item.id)">Delete</div>
        </div>
    </div>
</div>
