.subheader {
    input {
        background-image: url('/assets/icons/searchIcon.png');
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: 14px 8px;
        padding: 6px 20px 6px 40px;
    }

    .total {
        font-size: 14px;
        margin-left: 16px;
    }
}
