<div class="subheader">
    <h2 class="title">
        Edit Book (<span class="title--primary">{{ form?.value?.title }}</span
        >)
    </h2>
</div>

<div class="padding-left">
    <div class="wrapper">
        <form autocomplete="off" [formGroup]="form">
            <!-- TITLE -->
            <div class="row">
                <label class="required" for="title">Title</label>
                <input
                    inputStyle
                    class="input--long required"
                    type="text"
                    name="title"
                    formControlName="title"
                />
            </div>
            <!-- AUTHOR -->
            <div class="row">
                <label class="required" for="author">Author</label>
                <input
                    inputStyle
                    class="input--medium"
                    type="text"
                    name="author"
                    formControlName="author"
                />
            </div>
            <!-- RELEASE DATE -->
            <div class="row">
                <label class="required" for="releaseDate">Release Date</label>
                <input
                    inputStyle
                    class="input--medium"
                    type="date"
                    name="releaseDate"
                    formControlName="releaseDate"
                />
            </div>
            <!-- SYNOPSIS -->
            <div class="row">
                <label class="required vertical-top" for="synopsis">Synopsis</label>
                <textarea
                    inputStyle
                    autosize
                    [minRows]="4"
                    class="input--long"
                    type="text"
                    name="synopsis"
                    formControlName="synopsis"
                ></textarea>
            </div>
            <!-- GENRES -->
            <div class="row">
                <label class="required vertical-top" for="genres">Genres</label>
                <select inputStyle multiple name="genres" formControlName="genres">
                    <ng-container *ngFor="let option of genres">
                        <option [value]="option">{{ option }}</option>
                    </ng-container>
                </select>
            </div>
            <!-- EDITABLE -->
            <div class="row checkbox">
                <label for="editable">Editable</label>
                <input type="checkbox" name="editable" formControlName="editable" />
            </div>
            <!-- DELETABLE -->
            <div class="row checkbox">
                <label for="deletable">Deletable</label>
                <input type="checkbox" name="deletable" formControlName="deletable" />
            </div>
        </form>
        <!-- ACTIONS -->
        <div class="row actions">
            <button class="button margin-right" (click)="goHome()">Cancel</button>
            <button class="button button--primary" [disabled]="form.invalid" (click)="submitForm()">
                Save
            </button>
        </div>
    </div>
</div>
