.wrapper {
    padding: 20px;
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: var(--shadow-3);
    width: calc(100% - 48px);
    display: inline-block;
    max-width: 900px;
}
