/* SMART PHONE */
@media only screen and (max-width: 320px) {
    .logo {
        text-align: center !important;
    }
    .logo__icon {
        text-align: center;
        .icon {
            display: inline-block;
            width: 50px !important;
            height: 50px !important;
            margin-top: 4px !important;
            margin-left: 0 !important;
            float: none !important;
        }
    }
    .logo__text,
    .header-image,
    .user__name {
        display: none !important;
    }
    .card {
        width: 250px !important;
        .header {
            height: 105px;
        }
    }
}

/* TABLET */
@media only screen and (max-width: 600px) {
    :root {
        --sidenav-width: 16px;
    }
    .sidenav {
        display: none;
        // TODO: Show Sidebar through burguer button on header.
    }
    .view {
        transition: margin 300ms ease;
    }
    .subheader {
        .ngx-pagination {
            padding: 0;
        }
    }
}

/* LAPTOP */
@media only screen and (max-width: 1000px) {
    .row:not(.checkbox) {
        label {
            display: block;
            margin-bottom: 4px;
        }
        .input {
            width: 100%;
        }
    }
}

/* LAPTOP */
@media only screen and (max-width: 1200px) {
    /* Styles here */
}

/* DESKTOP */
@media only screen and (max-width: 1600px) {
    /* Styles here */
}
