.subheader {
    z-index: 1;
    position: sticky;
    top: var(--header-height);
    line-height: var(--header-height);
    padding-right: var(--spacer);
    padding-left: var(--spacer);
    margin-bottom: 20px;
    border-bottom: 2px solid var(--color-grey-shade);
    background-color: var(--color-grey);
    .pagination {
        line-height: normal;
        display: inline-block;
        font-size: 12px;
        a {
            border-radius: 6px;
        }
        .current {
            border-radius: 6px;
            background-color: var(--color-primary);
        }
    }
    .title {
        font-weight: 400;
        margin: 0;
        .title--primary {
            font-size: 22px;
            font-weight: 600;
            color: var(--color-primary);
        }
    }
}

.row {
    padding: 20px;
    label {
        display: inline-block;
        width: var(--label-width);
        font-size: 14px;
        font-weight: 600;
        &.vertical-top {
            vertical-align: top;
        }
    }
    &:not(:first-child) {
        border-top: 1px solid var(--color-grey-shade);
    }
    &.actions {
        text-align: right;
    }
}

.padding-right {
    padding-right: var(--spacer);
}
.padding-left {
    padding-left: var(--spacer);
}

.margin-right {
    margin-right: var(--spacer);
}
.margin-left {
    margin-left: var(--spacer);
}
