.subheader {
    z-index: 1;
    position: sticky;
    top: var(--header-height);
    line-height: var(--header-height);
    padding-right: var(--spacer);
    padding-left: var(--spacer);
    margin-bottom: 20px;
    border-bottom: 2px solid var(--color-grey-shade);
    background-color: var(--color-grey);
    .pagination {
        line-height: normal;
        display: inline-block;
        font-size: 12px;
        a {
            border-radius: 6px;
        }
        .current {
            border-radius: 6px;
            background-color: var(--color-primary);
        }
    }
}

.padding-right {
    padding-right: var(--spacer);
}
.padding-left {
    padding-left: var(--spacer);
}

.margin-right {
    margin-right: var(--spacer);
}
.margin-left {
    margin-left: var(--spacer);
}
