.input {
    border: 2px solid var(--color-grey-shade);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 6px 20px 6px 20px;
    &:focus {
        border-color: var(--color-primary) !important;
    }

    &.input--long {
        width: calc(90% - var(--label-width));
    }
    &.input--medium {
        width: calc(60% - var(--label-width));
    }
}

label.required:after {
    content: ' *';
    color: var(--color-primary);
}
