:root {
  /** COLORS **/
  --color-primary: #e34d62;
  --color-grey: #f3f4f6;
  --color-grey-shade: #e6e7eb;
  --color-text-button: #565a61;
  --color-text-button-active: #181b25;

  /** LAYOUT **/
  --header-height: 60px;
  --sidenav-width: 230px;
  --spacer: 16px;
  --card-width: 320px;

  /* SHADOWS */
  --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --shadow-1: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-2: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-3: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
