.subheader {
  z-index: 1;
  position: sticky;
  top: 60px;
  margin-right: var(--spacer);
  line-height: 30px;
  margin-bottom: 20px;
  //   background-color: #fff;
  //   border: 2px solid var(--color-grey-shade);
  //   border-radius: 8px;
  //   box-shadow: var(--shadow-1);
}

input {
  border: 2px solid var(--color-grey-shade);
  border-radius: 0.5rem;
  outline-offset: -2px;
  box-sizing: border-box;
  background-image: url("/assets/icons/searchIcon.png");
  background-repeat: no-repeat;
  background-position: 10px 6px;
  padding: 8px 20px 8px 40px;
}
